*{
	margin:0;
	padding:0;
}
.header{
	height:110px;
	background-image: url("../h.jpg");
	color:white;
	text-align:center;
	padding-top:10px;
}
ul{
	display: flex;
	width: 80%;
	margin:auto;
	justify-content:space-around;
	list-style:none;
	margin-top:30px;
}
a{
	color:white;
	text-decoration:none;
	font-size:20px;
}
.content{
	width:80%;
	height:100px;
	margin: auto;
}
.content-img{
text-align:center;
margin-top:80px;
margin-bottom:65px;	
}

.content-img img{
	width:800 px;
}
.h2{
	margin-bottom:30 px;
	margin-top:30 px;
}